# Ignore files in repository working files

# Ignore "junk" and other files often used for work
junk

# Ignore compiled Python files, in case Python scripts are used.
*.py[cod]

# Ignore Python stack dump files when a crash occurs
*.stackdump

# Ignore log files
*.log

# vim editor files

*.swp
*.swo

# Microsoft temporary files
*.tmp
~$*

# Ignore file extension used as temporary for .bat, etc. so email attachment works
*.xxx

# Ignore working files, in particular dynamically-created files created for InfoMapper.
# Putting these items here avoids the need for many separate .gitignore files,
# but need to pay attention to conventions.
#
#
# For web, just ignore dynamically-created files
# - all other content is version-controlled
/web/data-maps/*
/web/data-ts/*

# ======================================================
# Basin Entities menu
# ======================================================

# BasinEntities/Administrative-StreamReaches
/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/downloads/*
!/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/downloads/README.md
/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/layers/*
!/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/layers/README.md
!/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/layers/*.csv
!/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/layers/*.md
!/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Administrative-CoDwrWaterDistricts/*.json

# BasinEntities/Agriculture-Dairies
/workflow/BasinEntities/Agriculture-Dairies/downloads/*
!/workflow/BasinEntities/Agriculture-Dairies/downloads/README.md
/workflow/BasinEntities/Agriculture-Dairies/layers/*
!/workflow/BasinEntities/Agriculture-Dairies/layers/README.md
!/workflow/BasinEntities/Agriculture-Dairies/layers/*.csv
!/workflow/BasinEntities/Agriculture-Dairies/layers/*.md
!/workflow/BasinEntities/Agriculture-Dairies/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Agriculture-Dairies/*.json

# BasinEntities/Agriculture-Ditches
/workflow/BasinEntities/Agriculture-Ditches/downloads/*
!/workflow/BasinEntities/Agriculture-Ditches/downloads/README.md
/workflow/BasinEntities/Agriculture-Ditches/layers/*
!/workflow/BasinEntities/Agriculture-Ditches/layers/README.md
!/workflow/BasinEntities/Agriculture-Ditches/layers/*.csv
!/workflow/BasinEntities/Agriculture-Ditches/layers/*.md
!/workflow/BasinEntities/Agriculture-Ditches/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Agriculture-Ditches/*.json

# BasinEntities/Education-Organizations
/workflow/BasinEntities/Education-Organizations/downloads/*
!/workflow/BasinEntities/Education-Organizations/downloads/README.md
/workflow/BasinEntities/Education-Organizations/layers/*
!/workflow/BasinEntities/Education-Organizations/layers/README.md
!/workflow/BasinEntities/Education-Organizations/layers/*.csv
!/workflow/BasinEntities/Education-Organizations/layers/*.md
!/workflow/BasinEntities/Education-Organizations/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Education-Organizations/*.json

# BasinEntities/Environment-InstreamFlowReaches
/workflow/BasinEntities/Environment-InstreamFlowReaches/downloads/*
!/workflow/BasinEntities/Environment-InstreamFlowReaches/downloads/README.md
/workflow/BasinEntities/Environment-InstreamFlowReaches/layers/*
!/workflow/BasinEntities/Environment-InstreamFlowReaches/layers/README.md
!/workflow/BasinEntities/Environment-InstreamFlowReaches/layers/*.csv
!/workflow/BasinEntities/Environment-InstreamFlowReaches/layers/*.md
!/workflow/BasinEntities/Environment-InstreamFlowReaches/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Environment-InstreamFlowReaches/*.json

# BasinEntities/Environment-Organizations
/workflow/BasinEntities/Environment-Organizations/downloads/*
!/workflow/BasinEntities/Environment-Organizations/downloads/README.md
/workflow/BasinEntities/Environment-Organizations/layers/*
!/workflow/BasinEntities/Environment-Organizations/layers/README.md
!/workflow/BasinEntities/Environment-Organizations/layers/*.csv
!/workflow/BasinEntities/Environment-Organizations/layers/*.md
!/workflow/BasinEntities/Environment-Organizations/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Environment-Organizations/*.json

# BasinEntities/Industry-Breweries
/workflow/BasinEntities/Industry-Breweries/downloads/*
!/workflow/BasinEntities/Industry-Breweries/downloads/README.md
/workflow/BasinEntities/Industry-Breweries/layers/*
!/workflow/BasinEntities/Industry-Breweries/layers/README.md
!/workflow/BasinEntities/Industry-Breweries/layers/*.csv
!/workflow/BasinEntities/Industry-Breweries/layers/*.md
!/workflow/BasinEntities/Industry-Breweries/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Industry-Breweries/*.json

# BasinEntities/Municipal-Municipalities
/workflow/BasinEntities/Municipal-Municipalities/downloads/*
!/workflow/BasinEntities/Municipal-Municipalities/downloads/README.md
/workflow/BasinEntities/Municipal-Municipalities/layers/*
!/workflow/BasinEntities/Municipal-Municipalities/layers/README.md
!/workflow/BasinEntities/Municipal-Municipalities/layers/*.csv
!/workflow/BasinEntities/Municipal-Municipalities/layers/*.md
!/workflow/BasinEntities/Municipal-Municipalities/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Municipal-Municipalities/*.json

# BasinEntities/Physical-Counties/
# Dynamic map configurations
/workflow/BasinEntities/Physical-Counties/*.json
# downloads/
/workflow/BasinEntities/Physical-Counties/downloads/*
!/workflow/BasinEntities/Physical-Counties/downloads/README.md
# layers/
# - csv are layer classification files
# - md are Markdown filees to document layers
/workflow/BasinEntities/Physical-Counties/layers/*
!/workflow/BasinEntities/Physical-Counties/layers/README.md
!/workflow/BasinEntities/Physical-Counties/layers/*.csv
!/workflow/BasinEntities/Physical-Counties/layers/*.md
!/workflow/BasinEntities/Physical-Counties/layers/*doc
# ts/
# - ignore generated time series files
/workflow/BasinEntities/Physical-Counties/ts/*
!/workflow/BasinEntities/Physical-Counties/ts/README.md
# graphs/
# - ignore images created for prototype
/workflow/BasinEntities/Physical-Counties/graphs/*.png

# BasinEntities/Physical-StreamReaches
/workflow/BasinEntities/Physical-StreamReaches/downloads/*
!/workflow/BasinEntities/Physical-StreamReaches/downloads/README.md
/workflow/BasinEntities/Physical-StreamReaches/layers/*
!/workflow/BasinEntities/Physical-StreamReaches/layers/README.md
!/workflow/BasinEntities/Physical-StreamReaches/layers/*.csv
!/workflow/BasinEntities/Physical-StreamReaches/layers/*.md
!/workflow/BasinEntities/Physical-StreamReaches/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Physical-StreamReaches/*.json

# BasinEntities/Recreation-BoatingOrganizations
/workflow/BasinEntities/Recreation-BoatingOrganizations/downloads/*
!/workflow/BasinEntities/Recreation-BoatingOrganizations/downloads/README.md
/workflow/BasinEntities/Recreation-BoatingOrganizations/layers/*
!/workflow/BasinEntities/Recreation-BoatingOrganizations/layers/README.md
!/workflow/BasinEntities/Recreation-BoatingOrganizations/layers/*.csv
!/workflow/BasinEntities/Recreation-BoatingOrganizations/layers/*.md
!/workflow/BasinEntities/Recreation-BoatingOrganizations/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Recreation-BoatingOrganizations/*.json

# BasinEntities/Recreation-Trails
/workflow/BasinEntities/Recreation-Trails/downloads/*
!/workflow/BasinEntities/Recreation-Trails/downloads/README.md
/workflow/BasinEntities/Recreation-Trails/layers/*
!/workflow/BasinEntities/Recreation-Trails/layers/README.md
!/workflow/BasinEntities/Recreation-Trails/layers/*.csv
!/workflow/BasinEntities/Recreation-Trails/layers/*.md
!/workflow/BasinEntities/Recreation-Trails/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/Recreation-Trails/*.json

# BasinEntities/WaterSupply-WaterProviders
/workflow/BasinEntities/WaterSupply-WaterProviders/downloads/*
!/workflow/BasinEntities/WaterSupply-WaterProviders/downloads/README.md
/workflow/BasinEntities/WaterSupply-WaterProviders/layers/*
!/workflow/BasinEntities/WaterSupply-WaterProviders/layers/README.md
!/workflow/BasinEntities/WaterSupply-WaterProviders/layers/*.csv
!/workflow/BasinEntities/WaterSupply-WaterProviders/layers/*.md
!/workflow/BasinEntities/WaterSupply-WaterProviders/layers/*doc
# Dynamic map configurations
/workflow/BasinEntities/WaterSupply-WaterProviders/*.json

# ======================================================
# Historical Data menu
# ======================================================

# HistoricalData/Agriculture-IrrigatedLands
/workflow/HistoricalData/Agriculture-IrrigatedLands/downloads/*
!/workflow/HistoricalData/Agriculture-IrrigatedLands/downloads/README.md
/workflow/HistoricalData/Agriculture-IrrigatedLands/layers/*
!/workflow/HistoricalData/Agriculture-IrrigatedLands/layers/README.md
!/workflow/HistoricalData/Agriculture-IrrigatedLands/layers/*.csv
!/workflow/HistoricalData/Agriculture-IrrigatedLands/layers/*.md
!/workflow/HistoricalData/Agriculture-IrrigatedLands/layers/*doc
# Dynamic map configurations
/workflow/HistoricalData/Agriculture-IrrigatedLands/*.json

# ======================================================
# Current Conditions menu
# ======================================================

# CurrentConditions/WaterSupply-Streamflow
/workflow/CurrentConditions/WaterSupply-Streamflow/downloads/*
!/workflow/CurrentConditions/WaterSupply-Streamflow/downloads/README.md
/workflow/CurrentConditions/WaterSupply-Streamflow/layers/*
!/workflow/CurrentConditions/WaterSupply-Streamflow/layers/README.md
!/workflow/CurrentConditions/WaterSupply-Streamflow/layers/*.csv
!/workflow/CurrentConditions/WaterSupply-Streamflow/layers/*.md
!/workflow/CurrentConditions/WaterSupply-Streamflow/layers/*doc
# Dynamic map configurations
/workflow/CurrentConditions/WaterSupply-Streamflow/*.json

# ======================================================
# Seasonal Outlook menu
# ======================================================

# ======================================================
# Future Planning menu
# ======================================================

# ======================================================
# Resources menu
# ======================================================
